<div class="my-margin">

  <h2>Editer votre profil </h2>
  <form class="my-form" #f="ngForm" (ngSubmit)="updatCandidat()">
    <div class="my-contener-label">
      <label class="my-label">Accronyme du Parti</label>
      <input type="text" name="id" placeholder="Accronyme de votre parti" class="my-input"
             [(ngModel)]="geted.labelParti" #lb="ngModel" >
    </div>
    <div class="my-contener-label">
      <label class="my-label">Nom du Parti</label>
      <input type="text" name="id" placeholder="Nom de votre parti" class="my-input"
             [(ngModel)]="geted.nomParti" #np="ngModel">
    </div>
    <div class="my-contener-label">
      <label class="my-label">Projet :</label>
      <textarea class="my-input" [(ngModel)]="geted.projet" #pr="ngModel" name="projet"></textarea>
    </div>
    <button type="submit" class="my-btn-submit">Enregistrer</button>
    <br/><br/>
  </form>
</div>
