.app-header{
  top: 3px;
  height : 60px;
  background-color:  #F2F2F2;
  text-align:  center;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: normal;
  font-family: "Segoe UI", "monospace";
  padding-top: 12px;
  font-style: italic;
  position: sticky;
  z-index: 1;
}
