<div class="my-margin">
  <div style="margin-left: 5px; margin-bottom: 10px;font-weight: bold">Bienvenue {{username}}</div>
  <div class="nav">
    <div class="nav-item">
      @if (role == "ADMIN"){
        <button routerLink="addCandidat">Ajouter un Candidat</button>
      }
      @if (role == "CANDIDAT"){
        <button routerLink="edit" style="margin-left: 4px">Editer mon compte</button>
      }
      <button class="logout" (click)="logOut()">Déconnexion</button>
    </div>
  </div>
  @if (!hasVoted){
    <form #f="ngForm">
      <div *ngFor="let candidat of candidats">
        <div class="page-body">
          <div>{{candidat.user.nom}} {{candidat.user.prenom}}</div>
          <div>{{candidat.labelParti}}</div>
          <div>{{candidat.nomParti}}</div>
          <label style="font-style: italic"> Cocher ici pour voter : <input type="radio" name="choice" required></label><br>
          <button class="btn-vote" (click)="saveVote(candidat.id)">soumettez votre vote</button>
        </div>
      </div>
    </form>
  } @else {
    <div style="margin-top: 20px; margin-left: 20px; font-size: 20px">Vous avez déjà exercé votre droit de vote!</div>
  }
  <router-outlet></router-outlet>
</div>
