<div class="my-margin">
  <div style="margin-left: 5px; margin-bottom: 10px;font-weight: bold">Bienvenue {{username}}</div>
  <div class="nav">
    <div class="nav-item">
      @if (role != "ELECTEUR"){
        <button><i class="fa-solid fa-house" (click)="gotoHome()"></i></button>
      }
      @if (role == "ADMIN"){
        <button routerLink="addCandidat">Ajouter un Candidat</button>
      }
      @if (role == "CANDIDAT"){
        <button routerLink="edit" style="margin-left: 4px">Editer mon compte</button>
      }
      <button class="logout" (click)="logOut()">Déconnexion</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
