button{
  border: 0px;
  color : whitesmoke;
  background-color: #4CAF50;
  margin-left: 10px;
  font-style: italic;
  min-height: 40px;
  border-radius: 10px;
  &:hover{
    background-color: #a4f1a7;
    color : #0F1111;
  }
}
.logout{
  border: 0px;
  color : whitesmoke;
  background-color: #ff5151;
  margin-left: 10px;
  font-style: italic;
  min-height: 40px;
  border-radius: 10px;
  &:hover{
    background-color: #ff0505;
    color : whitesmoke;
  }
}
